.header {
  height: 111px;
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;
  align-items: center;
}

.title {
  display: none;
}

.imagecontainer {
  width: 201px;
  height: 50px;
}

.logo {
  width: 100%;
}
