.landing {
  background-color: $landingBackground;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media all and (min-width: 768px) {
    justify-content: flex-end;
  }

  &_logo {
    width: 250px;
    @media all and (min-width: 768px) {
      width: 419px;
    }

    &--card {
      width: 100%;
    }
  }
  &_info {
    padding: 35px 43.3px 17.8px 47.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 768px) {
    }

    &--create {
      width: 223px;
      height: 24px;
      font-family: $landingFont;
      color: $thirdFontcolor;
      font-size: 19.2px;
      @media all and (min-width: 768px) {
        font-size: 24px;
        width: 278px;
        height: 31px;
      }
    }
    &--better {
      font-family: $secondFont;
      color: $mainFontColor;
      font-size: 12.8px;
      @media all and (min-width: 768px) {
        font-size: 16px;
        width: 331px;
        height: 48px;
      }
    }
  }
}

.landing_list {
  width: 268px;
  height: 73.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1.6px solid rgba(225, 115, 52, 0.21);
  margin-bottom: 38.6px;
  @media all and (min-width: 768px) {
    width: 325px;
    height: 86px;
  }

  &--article--text {
    color: $secondFontColor;
    font-family: $secondFont;
    font-size: 12.8px;
  }

  &--article--icon {
    color: $thirdFontcolor;
    font-size: 22.4px;
    @media all and (min-width: 768px) {
      font-size: 28px;
    }
  }

  &--button {
    width: 129px;
    height: 42px;
    background-color: $borderCardColor;
    font-family: $secondFont;
    border-radius: 21px;
    padding: 10px 20px 10px 20px;
    @media all and (min-width: 768px) {
      margin-top: 60px;
      margin-bottom: 59px;
    }

    &--get--started {
      color: $whiteColor;
    }
  }
}
